<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="csGrayBackground csRating">
  <ion-card>
    <ion-item>
      <ion-icon name="ios-body-outline" item-left large color="primary"></ion-icon>
      <ion-label>Child Name</ion-label>
      <custom-select item-content [(ngModel)]="child" (ngModelChange)="selectChild($event)">
        <ion-option *ngFor="let student of students" [value]="student">{{student.name}}</ion-option>
      </custom-select>
    </ion-item>
  </ion-card>
  <div *ngIf="studentInfo">
    <ion-card *ngFor="let sp of studentInfo">
      <ion-grid>
        <ion-row>
          <ion-col width-20>
            <ion-icon class="csStarIcon" name="star-half"></ion-icon>
          </ion-col>
          <ion-col width-80>
            <ion-row class="center title">
                <p >{{sp.responsibility}}</p>
            </ion-row>
            <ion-row class="stars">
                <rating [(ngModel)]="sp.ratingIndex" max="5" readOnly="true"></rating>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <ion-list class="no-comment" *ngIf="emptyMessage">
      <ion-icon name="star-half"></ion-icon>
      <br>NO RECORD FOUND
  </ion-list>
</ion-content>
