.csLoginScreen {
  border: #c6c6c6 10px solid;
  border-bottom: #f4f4f4 55px solid;
  border-top:none;
  background:#e3e3e3;
}
.letter-space {
  .text-input {
    @extend .csFontColor1;
    font-weight:bold;
    letter-spacing: 7px;
  }
  font-weight: 600;
}
.csLogo {
  @extend .csCenter;
  height: auto;
}
.csLogo-CornerStone{
    width: 60%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.csBottom {
  position: absolute;
  bottom: 0;
}

.csForgetPassword {
  @extend .csBottom;
  @extend .csCenter;
}

