<ion-header>
  <ion-toolbar class="csModelHeader">
    <ion-buttons start>
      <button ion-button class="navBtnRight" (click)="dismiss()">
        <span showWhen="ios">Cancel</span>
        <span showWhen="android,windows"><ion-icon name="close-circle" ></ion-icon></span>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Event
    </ion-title>
  </ion-toolbar>
    <ion-item no-lines icon-left item-right class="csShadow">
    <h1>
      <ion-grid>
        <ion-row>
          <ion-col width-20>
            <ion-icon name="quote" [style.color]="ResponseData.plannerTypeColor"></ion-icon>
          </ion-col>
          <ion-col>
            <span [style.color]="ResponseData.plannerTypeColor">{{ResponseData.title}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </h1>
  </ion-item>
</ion-header>
<ion-content class="planner">
    <!--============= to Delete  =============
    <ion-card class="csSideDateCard">
    <ion-row>
      <ion-col width-20 class="col1" no-padding>
        <ion-card>
          <h1>38</h1>
          <p>Jan</p>
        </ion-card>
      </ion-col>
      <ion-col class="col2">
        <h1>{{ResponseData.title}}</h1>
        <span class="csParagraph">{{ ResponseData.description}}</span>
      </ion-col>
    </ion-row>
  </ion-card>
============================================-->
<ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="time" [style.color]="ResponseData.plannerTypeColor" item-left> </ion-icon>
        <b>{{ResponseData.startDate | date}} - {{ResponseData.endDate | date}} </b>
        <p>{{ResponseData.startTime}} - {{ResponseData.endTime}} </p>
      </ion-item>
      <ion-item>
        <ion-icon name="paper" [style.color]="ResponseData.plannerTypeColor" item-left></ion-icon>
        {{ ResponseData.description}}
      </ion-item>
      <ion-item>
        <ion-icon name="school" [style.color]="ResponseData.plannerTypeColor" item-left> </ion-icon>
        {{ResponseData.plannerTypeName}}
        <div *ngIf="ResponseData.plannerTypeId == 2">
          <p item-right *ngFor=" let a of ResponseData.standards">
            {{a}}
          </p>
        </div>
      </ion-item>
      <ion-item *ngIf="ResponseData.location">
        <ion-icon name="pin" [style.color]="ResponseData.plannerTypeColor" item-left></ion-icon>
        {{ResponseData.location}}
      </ion-item>
    </ion-list>
  </ion-card>
 
  <!--<ion-card [style.border-color]="ResponseData.plannerTypeColor" class="csCardTopBorder">
    <ion-card-content>
      <h1>{{ResponseData.title}}</h1>
    </ion-card-content>
    <h1></h1>
    
  </ion-card>

  <ion-card [style.border-color]="ResponseData.plannerTypeColor" class="csCardTopBorder">
  <ion-list class="csDetailsList">
    <ion-item>
      <ion-item>
          <span class="csParagraph">{{ ResponseData.description}}</span>
      </ion-item>
      <ion-row>
        <ion-col item-left width-20 >
          Start:
        </ion-col>
        <ion-col>
          <ion-item>
            Date: {{ResponseData.startDate | date}}
          </ion-item>
          <ion-item>
            Time: {{ResponseData.startTime}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col item-left width-20 >
          End:
        </ion-col>
        <ion-col item-right>
          <ion-item>
            Date: {{ResponseData.endDate | date}}
          </ion-item>
          <ion-item>
            Time: {{ResponseData.endTime}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <span item-left >Type:</span>
      <span item-right> 
        {{ResponseData.plannerTypeName}}
      </span>
    </ion-item>
    <ion-item>
      <span item-left>Location:</span>
      <span item-right> 
        {{ResponseData.location}}
      </span>
    </ion-item>
    <ion-item *ngIf="ResponseData.plannerTypeId == 2">
      <span item-left >Standards:</span>
      <span item-right *ngFor=" let a of ResponseData.standards"> 
         {{a}}
       </span>
    </ion-item>
  </ion-list>
</ion-card>-->
</ion-content>
