<ion-header>
  <ion-toolbar class="csModelHeader">
    <ion-buttons start>
      <button ion-button class="navBtnRight" (click)="dismiss()">
        <span showWhen="ios">Cancel</span>
        <span showWhen="android,windows"><ion-icon name="close-circle" ></ion-icon></span>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="planner">
  <ion-item no-lines class="csShadow">
    <ion-icon name="quote" item-left [style.color]="ResponseData.plannerTypeColor"></ion-icon>
    <span [style.color]="ResponseData.plannerTypeColor" class="csPreText"><h1>{{ResponseData.title}}</h1></span>
  </ion-item>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="time" [style.color]="ResponseData.plannerTypeColor" item-left> </ion-icon>
        <b>{{ResponseData.startDate | date}} - {{ResponseData.endDate | date}} </b>
        <p>{{ResponseData.startTime}} - {{ResponseData.endTime}} </p>
      </ion-item>
      <ion-item>
        <ion-icon name="paper" [style.color]="ResponseData.plannerTypeColor" item-left></ion-icon>
        <span class="csPreText">{{ ResponseData.description}}</span>
      </ion-item>
      <ion-item>
        <ion-icon name="school" [style.color]="ResponseData.plannerTypeColor" item-left> </ion-icon>
        {{ResponseData.plannerTypeName}}
        <div *ngIf="ResponseData.plannerTypeId == 2">
          <p item-right *ngFor=" let a of ResponseData.standards">
            {{a}}
          </p>
        </div>
      </ion-item>
      <ion-item *ngIf="ResponseData.location">
        <ion-icon name="pin" [style.color]="ResponseData.plannerTypeColor" item-left></ion-icon>
        {{ResponseData.location}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
