<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="homeBackground csGrayBackground">

  <ion-fab top right edge #fab>
    <button ion-fab color="cool">
      <ion-icon name="create"></ion-icon>
    </button>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="newComplaint(fab)">
        <ion-icon style="font-size: 35px;" color="header" name="ios-sad-outline"></ion-icon>
      </button>
      <button ion-fab (click)="newSuggestion(fab)">
        <ion-icon style="font-size: 35px;" color="header" name="ios-bulb-outline"></ion-icon>
      </button>
      <button ion-fab (click)="newAppreciation(fab)">
        <ion-icon style="font-size: 35px;" color="header" name="ios-thumbs-up-outline"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-spinner class="circle-spinner" *ngIf="!hasData"></ion-spinner>

  <ion-list *ngIf="dash_data.planner.length > 0">
    <ion-list-header>
      Today's Event
    </ion-list-header>
    <ion-list>
      <ion-card *ngFor="let event of dash_data.planner" padding (click)="GoToEvent(event.id)">
        <h2>{{event.title}}</h2>
        <p>{{event.startTime}} - {{event.endTime}} <span class="csRight">{{event.location}}</span></p>
      </ion-card>
    </ion-list>
  </ion-list>

  <ion-list>
    <ion-list-header *ngIf="dash_data.openPoll.length > 0">
      Poll
      <span style="float:right" *ngIf="dash_data.pollCount > 2" (click)="openPollList()">View All ( {{dash_data.pollCount}} )</span>
    </ion-list-header>
    <ion-list inset *ngFor="let a of dash_data.openPoll" (click)="goToPoll()">
      <ion-item>
        <h2><b>{{a.question}}</b></h2>
        <h3>{{a.optionTypeName}}</h3>
        <ion-note>
          <ion-row>
            <ion-col width-50 class="no-padding-l" style="color:#535353;">
              <ion-icon name="clock"></ion-icon><span>{{a.createdAt | amDateFormat: 'DD/MM/YYYY'}}</span>
            </ion-col>
            <ion-col width-50 class="no-padding-l" >
              <ion-icon name="at"></ion-icon><span>{{a.typeName}}</span>
            </ion-col>
          </ion-row>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-list>
  
  <ion-list>
    <ion-list-header *ngIf="dash_data.surveys.length > 0">
      Survey
      <span style="float:right" *ngIf="dash_data.surveyCount > 2" (click)="openSuveyList()">View All ( {{dash_data.surveyCount}} )</span>
    </ion-list-header>
    <ion-list inset *ngFor="let a of dash_data.surveys" (click)="goToSurvey(a.surveyId)">
      <ion-item>
        <h2><b>{{a.title}}</b></h2>
        <h3>{{a.description}}</h3>
        <ion-note>
          <ion-row>
            <ion-col width-50 class="no-padding-l" style="color:#535353;">
              <ion-icon name="clock"></ion-icon><span>{{a.createdAt | amDateFormat: 'DD/MM/YYYY'}}</span>
            </ion-col>
            <ion-col width-50 class="no-padding-l" >
              <ion-icon name="at"></ion-icon><span>{{a.typeName}}</span>
            </ion-col>
          </ion-row>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list>
    <ion-list-header *ngIf="dash_data.circular.length > 0">
      Circular
    </ion-list-header>
    <ion-list inset *ngFor="let a of dash_data.circular"  (click)="goToCircular(a.id)">
      <ion-item>
        <h2><b>{{a.title}}</b></h2>
        <h3>{{a.description}}</h3>
        <ion-note>
          <ion-row>
            <ion-col width-50 class="no-padding-l" style="color:#535353;">
              <ion-icon name="clock"></ion-icon><span>in 23 min</span>
            </ion-col>
            <ion-col width-50 class="no-padding-l" >
              <ion-icon name="at"></ion-icon><span>school</span>
            </ion-col>
          </ion-row>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="danger" style="height:135px;padding:0px" class="pager">
    <ion-slides pager>
    <ion-slide>
      <ion-grid class="home-tabs bullitinBoard">
        <ion-row>
          <ion-col class="greenCard" (click)="openPage(page.complaint, 'complaint')">
            <div class="pinYellow"><img src="assets/svg/clip2-green.svg" width="50px" height="50px" /></div>
              <ion-icon name="ios-bulb-outline"></ion-icon>
              <p text-center>Complaints</p>
          </ion-col>
          <ion-col  class="blueCard" (click)="openPage(page.suggestion, 'suggestion')">
            <div class="pinGreen"><img src="assets/svg/clip2.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-sad-outline"></ion-icon>
              <p>Suggestions</p>
          </ion-col>
          <ion-col  class="peachCard" (click)="openPage(page.planner, 'planner')">
            <div class="pinYellow"><img src="assets/svg/clip2-green.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-stats-outline"></ion-icon>
              <p text-center>Calendar</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="home-tabs bullitinBoard">
        <ion-row>
          <ion-col width-33 class="peachCard" (click)="openPage(page.survey, 'survey')">
            <div class="pinGreen"><img src="assets/svg/clip2.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-analytics-outline"></ion-icon>
              <p>Survey</p>
          </ion-col>
          <ion-col class="greenCard" (click)="openPage(page.appreciation, 'appreciation')">
            <div class="pinYellow"><img src="assets/svg/clip2-green.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-thumbs-up-outline"></ion-icon>
              <p>Appreciations</p>
          </ion-col>
          <ion-col  class="blueCard" (click)="openPage(page.rating, 'student-profile')">
            <div class="pinGreen"><img src="assets/svg/clip2.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-pulse-outline"></ion-icon>
              <p>Student Rating</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="home-tabs bullitinBoard">
        <ion-row>
          <ion-col class="peachCard" (click)="openPage(page.poll, 'poll')">
            <div class="pinGreen"><img src="assets/svg/clip2-green.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-stats-outline"></ion-icon>
              <p>Poll</p>
          </ion-col>
          <ion-col  class="greenCard" (click)="openPage(page.homework, 'homework')">
            <div class="pinYellow"><img src="assets/svg/clip2.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-book-outline"></ion-icon>
              <p>Homework</p>
          </ion-col>
          <ion-col  class="blueCard" (click)="openPage(page.circular, 'circular')">
            <div class="pinGreen"><img src="assets/svg/clip2-green.svg" width="50px" height="50px" /></div>
              <ion-icon class="my-icon" name="ios-paper-outline"></ion-icon>
              <p>Circular</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  </ion-toolbar>
</ion-footer>