.csChatImage {
  border-radius: 100%;
  border: 1px solid $color1;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.mine {
  .avt {
    float: right !important;
  }
}

.avt {
  position: absolute;
  margin-top: 2px;
}

.csMessageText {
  margin: 0 60px;
}

.csFooterColor {
  background: $color1;
}

.csListMargin {
  margin: -10px 0px -12px 0px !important;
  border-left: 3px solid green;
}

.csFont20 {
  font-size: 20px;
}

.csPadding15 {
  padding: 15px !important;
}

// To remove right arrow in list items
.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
  background-image: none !important;
}

//////////////////////// Messages classes
.mine {
  .chatAlign {
    text-align: right;
    margin-left: 20%;
  }
  .size {
    width: 80%;
  }
  .message {
    border-radius: 10px;
    margin: 5px;
  }
  .msgText {
    background: #f6c2d8;
    display: -webkit-inline-box;
    padding: 10px;
    box-shadow: 0px 6px 12px #cecece;
  }
}

.size {
  width: 80%;
}

.chatAlign {}

.message {
  margin: -55px 0pc 5px 65px;
}

.image {
  width: 50px;
  height: 50px;
  background: gray;
  display: -webkit-inline-box;
  margin: 10px;
  border-radius: 100%;
  box-shadow: 0px 6px 12px #cecece;
}

.msgText {
  background: #c1d9fa;
  display: table;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 12px #cecece;
}

.messageDetails {
  font-size: 10px;
  color: slategray;
  margin-top: 5px;
}
