<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list csGrayBackground">
  <ion-fab top right edge>
    <button ion-fab (click)="createNew()" color="cool"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let a of allData; let i = index" class="new-list" #slidingItem>
      <a ion-item detail-push detail-none [style.border-color]="a.categoryColor" href="#" (click)="openViewModal(a.id, a.messages)">
        <h2><b>{{a.title}}</b></h2>
        <ion-row>
          <ion-col width-50 [style.color]="a.categoryColor">
            <h3>
              <ion-icon name="at"> </ion-icon>
              {{a.categoryName}}
            </h3>
          </ion-col>
          <ion-col width-50 class="csRight" *ngIf="a.againstEmployeeName">
            <h3>
              <ion-icon name="person"> </ion-icon>
              {{ a.againstEmployeeName }}
            </h3>
          </ion-col>
        </ion-row>
        <ion-note>
          <ion-row class="csGrayText">
            Created at: {{a.createdAt | amDateFormat: 'LL'}}
            <span *ngIf="a.closedOn" item-right><ion-icon name="clock"></ion-icon> <span> Close Date: {{a.closedOn| amDateFormat: 'LL'}}</span>            </span>
          </ion-row>
        </ion-note>
      </a>
      <ion-item-options side="right" *ngIf="!a.isClosed">
        <button ion-button color="danger" (click)="presentConfirm(slidingItem, a.id)">
          <ion-icon name="md-close" class="csBigIcon"></ion-icon>
          Close
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="no-comment" *ngIf="emptyMessages">
    <ion-icon name="ios-chatbubbles-outline"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
