<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list csGrayBackground">
  <ion-fab top right edge>
    <button ion-fab (click)="createNew()" color="cool"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let a of allData; let i = index" class="new-list" #slidingItem>
      <a ion-item detail-push detail-none href="#" (click)="openViewModal(a.id)">
        <div class="csIndicator" [style.border-left-color]="'red'">
          <h2><b> {{a.title}} </b></h2>
          <ion-row>{{a.againstEmployeeName}}</ion-row>
          <ion-row>{{a.categoryName}}</ion-row>
          <ion-note>
            <ion-row>
              <ion-col width-50 class="no-padding-l" style="color:#535353;">
                <ion-icon name="clock"></ion-icon><span>Created at: {{a.createdAt | amDateFormat: 'LL'}}</span>
              </ion-col>
              <ion-col width-50 class="no-padding-l" style="color:#535353;" *ngIf="a.closedOn">
                <ion-icon name="clock"></ion-icon><span>Expirers on: {{a.closedOn| amDateFormat: 'LL'}}</span>
              </ion-col>
            </ion-row>
          </ion-note>
        </div>
      </a>
      <ion-item-options side="right" *ngIf="!a.isClosed">
        <button ion-button color="secondary" (click)="presentConfirm(slidingItem, a.id)">
          <ion-icon name="md-close" class="csBigIcon"></ion-icon>
          Close
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="no-comment" *ngIf="emptyMessages">
    <ion-icon name="ios-chatbubbles-outline"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
