<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list csGrayBackground">
  <ion-fab top right edge>
    <button ion-fab (click)="createNew()" color="cool"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let a of allData; let i = index" class="new-list">
      <div class="csListMargin" ion-item detail-push detail-none [style.border-left-color]="a.categoryColor" href="#" (click)="openViewModal(a.id, a.messages)">
        <h2><b>{{a.title}}</b></h2>
        <ion-row>
          <ion-col width-50 [style.color]="a.categoryColor">
            <h3>
              <ion-icon name="at"></ion-icon>
              {{a.categoryName}}
            </h3>
          </ion-col>
          <ion-col width-50 class="csRight" *ngIf="a.againstEmployeeName">
            <h3>
              <ion-icon color="primary" name="person"></ion-icon>
              {{ a.againstEmployeeName }}
            </h3>
          </ion-col>
        </ion-row>
        <ion-note>
          <ion-row class="csGrayText">
            <ion-icon name="clock"></ion-icon>  {{a.createdAt | amDateFormat: 'LL'}}
            <span *ngIf="a.closedOn"> - {{a.closedOn| amDateFormat: 'LL'}}</span>
          </ion-row>
        </ion-note>
      </div>
      <button class="csPadding15" ion-button round outline item-right (click)="presentConfirm(a.id)" *ngIf="!a.isClosed">
        Close
      </button>
    </ion-item>
  </ion-list>
  <ion-list class="no-comment" *ngIf="emptyMessages">
    <ion-icon name="ios-chatbubbles-outline"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
