
<ion-header class="complaints">
  <nl-navbar [title]="viewTitle">
    <button clear ion-button>
      <ion-icon name="ios-clock-outline" (click)="openTimelineModal()" style="font-size: 1.8em;color:white"></ion-icon>
    </button>
  </nl-navbar>
</ion-header>

<ion-content class="csGrayBackground has-header" >
  <ion-spinner *ngIf="eventSource.length===0" class="csCenter" style="margin-top: 55vh;position:absolute;margin-left:45vw"></ion-spinner>
  <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
     <ion-list class="no-event" style="margin-top:10px" *ngIf="!hasEvents && eventSource.length!=0">
    <ion-icon name="calendar"></ion-icon>
    <br>No Event
  </ion-list>   
    <section>
      <div class="timeline-row">     
        <div class="cd-timeline-content dark" *ngFor="let a of selectedDate.events; let i = index" (click)="openViewEventModal(a.id, i)">
          <div class="color-col" [style.border-left-color]="a.color">
            <h5 class="timeline-title">{{ a.title }}</h5>
            <span class="startTime"> {{a.time1 }}   </span>
            <span class="startTime"> - {{ a.time2 }}</span>
            <span class="startTime3" *ngIf="a.durationDays != 0">[{{ a.durationDays + 1 }} days event]</span>
            <span class="Timelinelocation">{{ a.location }}</span>
          </div>
        </div>
      </div>
    </section>
  </template>
  <calendar class="csEvent" [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onRangeChanged)="onRangeChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        queryMode="remote"
        (onTimeSelected)="onTimeSelected($event)"
        [monthviewEventDetailTemplate]="template"
        step="30">
  </calendar>
</ion-content>
<ion-footer>
  <button ion-button full icon-left (click)="addNewEvent()" [disabled]="canCreateNewEvent">
    <ion-icon name="md-add"></ion-icon> Add New Event  
  </button>
</ion-footer>
