<ion-header>
  <nl-modal-navbar [title]="title" [complaint]="appreciation"></nl-modal-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <form name="newcomplaint" [formGroup]="newSuggestion" (ngSubmit)="saveSuggestion()" novalidate>
    <ion-card>
      <ion-item *ngIf="students.length > 1">
        <ion-icon name="ios-body-outline" item-left large color="primary"></ion-icon>
        <ion-label>Select Child</ion-label>
        <custom-select item-content [(ngModel)]="child" formControlName="studentId" (ngModelChange)="selectChild($event)">
          <ion-option *ngFor="let student of students" [value]="student">{{student.name}}</ion-option>
        </custom-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item *ngIf="teachers">
        <ion-icon name="ios-person-outline" item-left large  color="primary"></ion-icon>
        <ion-label>Teacher</ion-label>
        <custom-select item-content formControlName="teacherId">
          <ion-option *ngFor="let teacher of teachers" [value]="teacher.teacherId">{{teacher.teacherName}}</ion-option>
        </custom-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="csTransparent">
        <ion-label stacked>Title</ion-label>
        <ion-textarea rows="2" class="csInput-title" formControlName="title" maxlength="50" placeholder="ENTER TITLE"></ion-textarea>
      </ion-item>
      <ion-badge class="csFiftyLimit"><span>{{50 - newSuggestion.value.title.length}}</span></ion-badge>
    </ion-card>
   <ion-card>
      <ion-item class="csTransparent">
        <ion-label stacked>Description</ion-label>
        <ion-textarea class="csInput-title" rows="5" formControlName="description"
          maxlength="200" placeholder="ENTER DESCRIPTION"></ion-textarea>
      </ion-item>
      <ion-badge class="csFiftyLimit"><span>{{200 - newSuggestion.value.description.length}}</span></ion-badge>
    </ion-card>
  <div padding>
    <button ion-button icon-right full type="submit" [disabled]="newSuggestion.invalid">
      SEND <ion-icon name="send"></ion-icon>
    </button>
  </div>
  </form>
</ion-content>
