<ion-header class="complaints">
  <nl-navbar [title]="viewTitle">
  </nl-navbar>
</ion-header>

<ion-content class="csGrayBackground has-header" >
  <ion-spinner *ngIf="eventSource.length===0" class="csCenter" style="margin-top: 55vh;position:absolute;margin-left:45vw"></ion-spinner>
  <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="no-event" style="margin-top:10px" *ngIf="!hasEvents && eventSource.length!=0">
      <ion-icon name="calendar"></ion-icon>
      <br>No Content
    </ion-list>   
    <section>
      <div class="timeline-row">  
        <div *ngFor="let a of selectedDate.events; let i = index">
          <ion-item>
            <ion-avatar item-left>
              <img [src]="a.foodPicUrl">
            </ion-avatar>
            <h2><b>{{a.title}}: </b> {{a.foodName}}</h2>
          </ion-item>
        </div>
      </div>
    </section>
  </template>
  <calendar class="csEvent foodmenu" [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onRangeChanged)="onRangeChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        queryMode="remote"
        (onTimeSelected)="onTimeSelected($event)"
        [monthviewEventDetailTemplate]="template"
        step="30">
  </calendar>
</ion-content>
