<ion-header class="complaints">
  <nl-navbar [title]="viewTitle">
  </nl-navbar>
</ion-header>

<ion-content class="csGrayBackground has-header" >
  <ion-spinner *ngIf="eventSource.length===0" class="csCenter" style="margin-top: 55vh;position:absolute;margin-left:45vw"></ion-spinner>
  <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="no-event" style="margin-top:10px" *ngIf="!hasEvents && eventSource.length!=0">
      <ion-icon name="calendar"></ion-icon>
      <br>No Content
    </ion-list>   
    <section>
      <div class="timeline-row">     
        <div class="cd-timeline-content dark" *ngFor="let a of selectedDate.events; let i = index">
          <div>
            <h5 class="timeline-title"><b>LunchFood </b> {{a.title}}</h5>
            <ion-avatar>
              <img [src]="a.lunchFoodUrl" width="100" height="100" style="border: 1px solid;border-radius: 50%;">
            </ion-avatar>
            <h5 class="timeline-title"><b>BreakFastFood </b> {{a.breakfastFood}}</h5>
            <ion-avatar>
              <img [src]="a.breakfastFoodUrl" width="100" height="100" style="border: 1px solid;border-radius: 50%;">
            </ion-avatar>
          </div>
        </div>
      </div>
    </section>
  </template>
  <calendar class="csEvent" [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onRangeChanged)="onRangeChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        queryMode="remote"
        (onTimeSelected)="onTimeSelected($event)"
        [monthviewEventDetailTemplate]="template"
        step="30">
  </calendar>
</ion-content>
