<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list csGrayBackground">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab top right edge>
    <button ion-fab (click)="newAppreciation()" color="cool">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-card *ngFor="let data of allData" class="csCardTopBorder">
    <ion-item>
      <ion-avatar item-left text-center>
        <ion-icon name="ios-person" color="primary" style="font-size:3.5em;" text-center></ion-icon>
      </ion-avatar>
      <h2><b>{{data.teacherName}}</b></h2>
      <p>{{data.createdAt | amDateFormat: 'LL'}}</p>
    </ion-item>
    <hr>
    <ion-card-content>
      <b>{{data.title}}</b>
      <p>{{data.description}}</p>
      <span class="csRight">From: {{ data.studentName }}</span>
    </ion-card-content>
  </ion-card>
  <ion-list class="no-comment" *ngIf="EmptyAppreciations">
    <ion-icon name="thumbs-up"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
