<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Poll</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-card *ngFor="let res of resdata">
     <ion-card-header> 
         <span class="PollQuestion">
           {{res.question}}
         </span>
         
      </ion-card-header>


     <ion-card-content >
        
       <div class="pollChoices" *ngFor="let d of res.subOptions" >
          
         <ion-list radio-group [(ngModel)]="relationship">
            <ion-item >
                 <ion-label class="PollOptions" >{{d.name}}</ion-label>

               <ion-radio *ngIf="res.optionTypeId == 1" ngmodel="choice1" checked (click)="PollChoiceClicked(d.id)"></ion-radio>
              
              <ion-checkbox *ngIf="res.optionTypeId == 2" [(ngModel)]="checkItems[d.id]" (click)="buttonEnable()"></ion-checkbox>
<!--(click)="PollChoiceMultiple()"-->
           </ion-item>
        </ion-list>
 
       </div>
       
       <span>{{res.optionTypeName}}</span> /
       <span>{{res.typeName}}</span>
  <!--<button ion-button color="primary" (click)="CheckIndex(res)">Don't!</button>       -->
  <button *ngIf="res.optionTypeId == 1" class="PollButton" ion-button color="secondary" [disabled]="enable" (click)="PollVoting(res.id,res)">Vote!</button>
  <button *ngIf="res.optionTypeId == 2" class="PollButton" ion-button color="secondary" [disabled]="mul_enable" (click)="PollMulVoting(res.id,res)">Vote!</button>
     </ion-card-content>
    </ion-card>

<!--[disabled]="enable"-->
<!--<ion-card >
  <ion-card-header>
    <span>Random Question 102?? </span>
    </ion-card-header>
  <ion-card-content>
    <ion-list>
       <ion-item>
         <ion-label>Daenerys Targaryen</ion-label>
         <ion-checkbox></ion-checkbox>
      </ion-item>

    <ion-item>
      <ion-label>Arya Stark</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

     <ion-item>
      <ion-label>ben afflek</ion-label>
      <ion-checkbox ></ion-checkbox>
    </ion-item>

  </ion-list>

<button class="PollButton" ion-button color="secondary">Vote!</button>

</ion-card-content>
 </ion-card>-->






</ion-content>