<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list csGrayBackground">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let suggestion of complaints">
    <ion-item >
      <div class="csParagraph"><b>{{suggestion.title}}</b></div>
      <div class="csParagraph">{{suggestion.description}}</div>
    </ion-item>
    <ion-item>
      <div item-left>
       <b><ion-icon name="body" color="primary"></ion-icon></b> {{suggestion.studentName}}
      </div>
      <div item-right>
        <b><ion-icon name="time" color="primary"></ion-icon></b> {{suggestion.createdAt | amDateFormat: 'LL'}}
      </div>
    </ion-item>
  </ion-card>
  <ion-list class="no-comment" *ngIf="EmptyComplaints">
      <img src="assets/svg/empty.svg" />
      <span>NO RECORD FOUND</span>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
