<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="complaint-list watermark">
  <ion-refresher (ionRefresh)="loadNewComplaints($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let suggestion of complaints">
    <ion-item >
      <div class="csParagraph"><b>{{suggestion.title}}</b></div>
      <div class="csParagraph">{{suggestion.description}}</div>
    </ion-item>
    <ion-item>
      <div item-left >
        <b> Student:</b><br> {{suggestion.studentName}}
      </div>
      <div item-right>
        <b>Created at:</b><br> {{suggestion.createdAt | date:'mediumDate'}}
      </div>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-item *ngIf="EmptyComplaints">
      <h3> NO SUGGESTIONS </h3>
    </ion-item>
  </ion-list>
</ion-content>