<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="complaint-list watermark">
  <ion-refresher (ionRefresh)="loadNewComplaints($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let suggestion of complaints">
      <p>title: {{suggestion.title}}</p>
      <p>description: {{suggestion.description}}</p>
      <p>studentName: {{suggestion.studentName}}</p>
      <p *ngIf="suggestion.teacherName">suggestion for: {{suggestion.teacherName}}</p>
      <p>createdAt: {{suggestion.createdAt | date:'mediumDate'}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="EmptyComplaints">
      <h3> NO SUGGESTIONS </h3>
    </ion-item>
  </ion-list>
</ion-content>
