<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="complaint-list csGrayBackground">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab top right edge>
    <button ion-fab (click)="createNew()" color="cool"> <ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let suggestion of allData" #slidingItem>
      <a ion-item detail-push detail-none href="#" (click)="openViewModal(suggestion)" [style.border-left-color]="suggestion.statusColor">
        <nl-list-view [complaint]="suggestion"></nl-list-view>
      </a>
      <ion-item-options side="right">
        <nl-comment-button [complaint]="suggestion"></nl-comment-button>
        <nl-close-button [complaint]="suggestion"></nl-close-button>
        <nl-reopen-button [complaint]="suggestion"></nl-reopen-button>
        <nl-satisfied-button [complaint]="suggestion"></nl-satisfied-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="no-comment" *ngIf="EmptyComplaints">
  <ion-icon name="build"></ion-icon>
      <br>NO RECORD FOUND
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
