<ion-header>
  <ion-toolbar color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title icon-left item-right>Calendar</ion-title>
    <ion-buttons end>
      <button ion-button clear end (click)="CalendarTimeline()">
        <ion-icon name="md-clock" class="csBigIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="planner">
    <ion-grid class="csCalMonth">
      <ion-row>
        <ion-col width-20 class="csCalNavigation">
          <button ion-button color="dark" (click)="decrement()" clear *ngIf='!(count <= 0)'><ion-icon style="color:#d35a7b" name="ios-arrow-back"></ion-icon></button>
        </ion-col>
        <ion-col>
          <span text-center class="csMonth">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
        </ion-col>
        <ion-col width-20 class="csCalNavigation">
          <button ion-button color="dark" (click)="increment()" clear class="csRight"><ion-icon style="color:#d35a7b" name="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div [ngSwitch]="view" text-center class="csCalDays">
      <div>
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events2" [refresh]="refresh" (eventClicked)="EventClicked($event)"
          [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
          </mwl-calendar-month-view>
      </div>
    </div>
    <div class="row text-center">

    </div>
  </div>


  <ion-card *ngIf="isCalendarTimeline">
     <section id="cd-timeline" class="cd-container">
          <div class="timeline-row" >
            
           <div>
                    <div class="cd-timeline-content dark"  *ngFor="let a of EventsForTimeline" (click)="eventsTimelineClicked(a.id)">
                              <div class="color-col" [style.border-left-color]= "a.color.primary">
                                  <h5 class="timeline-title">{{ a.title }}</h5>
                                  <span class="startTime"> {{a.startTime | amDateFormat:'hh:mmA'  }}   </span>
                                  <span class="startTime"> - {{ a.endTime | amDateFormat:'hh:mmA' }}</span>
                                
                         </div>  
                       </div>
                
            </div>
          </div>
        </section>
</ion-card>


<ion-card *ngIf="NoEvents">
   <section>
      <h2> No Events </h2>
    </section>
</ion-card>


</ion-content>
