<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
    <ion-item class="csHeader noBorder-item">
      <ion-avatar item-left>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png">
      </ion-avatar>
      <b>{{name}}</b>
    </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content class="csBlueColor">
    <ion-list>
      <button class="csStrip" [class.csSelected]="selectedPage == p.title"  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button class="csStrip" ion-item menuClose [class.csSelected]="selectedPage == p.title" *ngFor="let p of account" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
