// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "cornerStone.scss";

$transparent:transparent;
$icoSize : 2.4rem;
$full-width : 100%;
$full-height : 100%;
$errorColor : red;
$absolute : absolute;
$font-sm : 12px;
$font-md : 16px;
$font-lg : 18px;
$inherit : inherit;

.no-padding-l {
  padding-left: 0px !important;
}
.no-padding-r {
  padding-right: 0px !important;
}
.no-padding-b {
  padding-bottom: 0px !important;
}
.no-padding-t {
  padding-top: 0px !important;
}

.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input {
  margin-left: 8px;
}

.navBtnRight {
  padding: 0px 7px !important;
}

.watermark{
  background-image: csBackgroundSvg('loginBG.svg');
  background-size: $full-width $full-height;
  background-repeat: no-repeat;
}

// Custom Navbar Style
ion-navbar.toolbar.toolbar-ios-primary.statusbar-padding {
  padding-top: 20px;
}

ion-toolbar.toolbar.toolbar-ios.toolbar-ios-primary {
  padding-top: 20px;
}

/*Corner Stone THeme */
.csLightText{
  color:#fff;
}
.csStrip{
    @extend .csFillBackground;
    background:$csStripColor;
}
.csBlueColor{
  background:$csDarkStrip;
  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
    background-image: url('');
    }
}
.csSelected{
  background: #dedede;
  color: #6d6d6d;
  font-weight: bold;
  border-left:3px solid $color1;
  ion-icon{
    color:$color1;
  }
}
.noBorder-item{
  .item-inner {
    border-bottom: 0px !important;
  }
}

ion-slides {
  width: 100%;
  height: 50%;
  display: block;
  position: absolute;
  bottom: 0px;
}

.toolbar-title-md {
  font-weight: 600;
}
.csShadow{
  box-shadow: 0 0 25px grey;
}
.list-header-md {
    border-bottom: 2px solid #aeaeae;
    border-top: 0px !important;
    background: transparent;
    color:#333333;
}