<ion-header>
  <nl-modal-navbar [title]="title"></nl-modal-navbar>
  <ion-item class="csBoxShadow" no-lines>
    <h2> {{ onesurveys.title }} </h2>
  </ion-item>
</ion-header>
<ion-content class="csGrayBackground">
  <ion-card class="csBackgroundGray" radio-group [(ngModel)]="choice3[i][0]" *ngFor="let a of onesurveys.questions; let i=index">
      <ion-item >
        <ion-icon color="primary" item-left name="ios-list-box"></ion-icon>
        <span class="csParagraph"><b>{{ a.questionText }}</b></span>
      </ion-item>
    <ion-card-content>
      <ion-list *ngFor="let d of a.options; let m = index;">
        <ion-card>
          <ion-item>
            <ion-radio *ngIf="a.questionTypeId == 1" value="{{d.id}}" (click)="questionclick(i)"></ion-radio>
            <ion-checkbox *ngIf="a.questionTypeId == 2" [(ngModel)]="choice2[i][m]" (click)="SurveyChoiceClicked(i,m,d.id,a.questionId)"></ion-checkbox>
            <span item-left color="dark">{{ d.name }}</span>
          </ion-item>
        </ion-card>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf=" a.questionTypeId == 3">
      <ion-label>Answer</ion-label>
      <ion-textarea placeholder="write your answer here ..">
      </ion-textarea>
    </ion-card-content>
  </ion-card>
  <div padding>
    <button full ion-button [disabled]="enablle" (click)="SurveyVoting(onesurveys.surveyId,c)">Submit</button>
  </div>
</ion-content>
