<ion-header>
  <ion-toolbar color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Survey</ion-title>
    
  </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content padding class="csGrayBackground">
   
  <ion-list>
    <ion-item>
      <h1> {{ onesurveys.title }} </h1>
    </ion-item>
  </ion-list>
  <div  *ngFor="let a of onesurveys.questions; let i=index" >
  <ion-card radio-group [(ngModel)]="choice3[i][0]">
    
    
    <ion-card-header >
     <h2>{{ a.questionText }}</h2>
    </ion-card-header>
    <ion-card-content >
      
      <div *ngFor="let d of a.options; let m = index;  "  >
        <ion-radio *ngIf="a.questionTypeId == 1" value="{{d.id}}" ></ion-radio>
        <ion-checkbox *ngIf="a.questionTypeId == 2" [(ngModel)]="choice2[i][m]" (click)="SurveyChoiceClicked(i,m,d.id,a.questionId)"></ion-checkbox>
          <span>{{ d.name }}</span><br/>
         </div> 

    </ion-card-content>

    <ion-card-content *ngIf=" a.questionTypeId == 3">
      <ion-label>Answer</ion-label>
        <ion-textarea placeholder="write your answer here ..">
      </ion-textarea>
    </ion-card-content>

      <!--<button ion-button color="primary" (click)="SurveyVoting(a.surveyId,a.questionId,c)" right>submit!</button> -->
  </ion-card>

  </div>
 
   <button ion-button color="primary"  (click)="SurveyVoting(onesurveys.surveyId,c)" right>Done</button>
</ion-content>

<!--[(ngModel)]-->