<ion-header>
  <nl-modal-navbar [title]="title">
    <button clear ion-button>
      <ion-icon name="information-circle" class="csWhiteText csFont18em" (click)="show = !show"></ion-icon>
    </button>
  </nl-modal-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <ion-item class="csShadow" no-lines *ngIf="!show">
    <b class="csParagraph"> {{survey.title}} </b>
    <p class="csParagraph">{{survey.description}}</p>
  </ion-item>
    <!--<div *ngFor="let sur of survey.questions; let i = index">
      <div *ngIf="sur.questionTypeId == 1">
        <ion-list radio-group [(ngModel)]="autoManufacturers">
          <ion-card>
            <b>{{sur.questionText}}</b>
          </ion-card>
          <ion-card-content>
            <ion-list *ngFor="let opt of sur.options; let m = index;">
              <ion-radio [value]="opt.id"></ion-radio>
              <ion-label>{{opt.name}}</ion-label>
            </ion-list>
          </ion-card-content>
        </ion-list>
      </div>
      <div *ngIf="sur.questionTypeId == 2">
        <ion-list-header>
          <b>{{sur.questionText}}</b>
        </ion-list-header>
      </div>
    </div>-->
    <div *ngFor="let sur of survey.questions; let i = index">
      <p>{{sur.questionText}}</p>
      <ion-list radio-group [(ngModel)]="sur.questionId" *ngIf="sur.questionTypeId == 1">
        <ion-item *ngFor="let a of sur.options">
          <ion-label>{{a.name}}</ion-label>
          <ion-radio value="{{a.name}}" (click)="aa(a.id)" required></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="sur.questionTypeId == 2">
        <ion-item *ngFor="let a of sur.options">
          <ion-label> {{a.name}}</ion-label>
          <ion-checkbox [(ngModel)]="a.id[i]" required></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
    <button ion-button full (click)="save()" [disabled]="">Submit</button>
</ion-content>