<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <div>
    <ion-slides pager autopla="100" paginationType="bullets" parallax>
      <ion-slide>
        <ion-card class="csProfileCard">
          <div class="csCenter csProfileHeader">
            <div class="csAccBgImg">
              <br>
              <img [src]="basePath + userImage" (click)="openImageActionSheet()" class="csAccImg csCenter">
              <ion-spinner *ngIf="showLoader"></ion-spinner>
              <div class="csAccName" text-center>{{name}}<br>
                <span class="csWhiteText" text-center *ngIf="nickName">({{nickName}})</span>
              </div>
            </div>
          </div>
          <ion-list>
            <ion-card class="csProfileCardDetails">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="finger-print"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">ID</span>
                <h2>{{id}}</h2>
              </ion-item>
            </ion-card>
            <ion-card class="csProfileCardDetails">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="unlock"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">Password</span>
                <h2>*********</h2>
              </ion-item>
            </ion-card>
            <ion-card class="csProfileCardDetails" *ngIf="emailID">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="unlock"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">E-mail ID</span>
                <h2>{{emailID}}</h2>
              </ion-item>
            </ion-card>
            <ion-card class="csProfileCardDetails" *ngIf="contactNo">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="unlock"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">Mobile No.</span>
                <h2>{{contactNo}}</h2>
              </ion-item>
            </ion-card>
          </ion-list>
          <div padding>
            <button ion-button icon-left color="primary" full type="button" (click)="logout()">
              <ion-icon name="power"></ion-icon>
              <b>Logout</b>
            </button>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide *ngFor="let a of students">
        <ion-card class="csProfileCard">
          <div class="csCenter csProfileHeader">
            <div class="csAccBgImg">
              <br>
              <img class="csAccImg csCenter" [src]="studentImage + a.picTimestamp" (click)="openimage(a)" >
              <div class="csAccName" text-center>{{a.name}}</div>
            </div>
          </div>
          <ion-list>
            <ion-card class="csProfileCardDetails">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="finger-print"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">ID</span>
                <h2>{{id}}</h2>
              </ion-item>
            </ion-card>
            <ion-card class="csProfileCardDetails">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="school"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">Class</span>
                <h2>{{a.standardName}}</h2>
              </ion-item>
            </ion-card>
            <ion-card class="csProfileCardDetails">
              <ion-item>
                <ion-avatar item-left>
                  <ion-icon class="csProfileIcon" name="unlock"></ion-icon>
                </ion-avatar>
                <span class="csProfileTitle">Class Teacher</span>
                <h2>{{a.classTeacher}}</h2>
              </ion-item>
            </ion-card>
          </ion-list>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>