.csProfileCard{
  margin-top: 40px;
}

.csGrayText{
    color: gray !important;
    font-size: 80% !important;
}

.csEditButton{
  font-size: 25px;
  color: $csGreen;
}

.csKeyBackground{
  @extend .setBottom;
  background-repeat: no-repeat;
  bottom:0px;
  background-image: csBackgroundSvg('key.svg');
}

.toolbar-title-ios , .toolbar-title-md , .toolbar-title-wp, .bar-button-default-wp, .bar-button-default-md, .bar-button-default-ios{
  color: white;
}

.csProfileCard{
  button{
    margin-top: 35px;
  }
}

.student-header{
      margin-top: -4%;
    margin-bottom: -8%;
}