ion-note{
  ion-icon {
    margin-right: 3px;
  }
  span{
    top:-1px;
    position: relative;
  }
  font-size: $font-sm;
  align-self: flex-start;
}
.complaint-list {
  @extend .csMainBackground;
  ion-item-sliding {
    h3 {
      // line-height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a {
      .item-inner{
        border-left-color:$inherit;
        .input-wrapper{
          border-left-color:$inherit;
          ion-label{
            border-left: 3px groove;
            border-left-color:$inherit;
            padding: 0px 5px 0px 10px;
          }
        }
      }
    }
    nl-edit-button,
    nl-comment-button,
    nl-reopen-button,
    nl-satisfied-button,
    nl-close-button {
      height: 100%;
    }
  }
}
.view-complaint {
  ion-card {
    ion-item {
      h2 {
        padding: 6px 0px 0px 20px;
        white-space: normal;
        line-height: 20px;
        pre {
          overflow: visible;
          white-space: pre-line;
          line-height: 20px;
          font-family: $inherit;
          margin: 0px;
        }
      }
    }
  }
}

.complaint-item{
  hr{
    height: 1px;
  }
  span{
    position: $absolute;
    top: 12px;
    left: 30px;
    font-size: medium;
    background: $background-color;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
  }
  padding-bottom: 6px;
}

.new-complaint{
  .complaint-item{
    hr{
      border-top: 1px solid #387ef5;
    }
    span{
      color:#387ef5;
    }
  }

  ion-item{
    .item-inner{
      border-bottom: 0.55px solid #c8c7cc !important;
    }
    ion-badge{
      float: right;
      color: #c8c7cc;
      // background-color: whitesmoke;
    }
  }
  ion-item-divider{
    background-color:$inherit;
    color: #387ef5;
    font-weight: 700;
    span{
      float: right;
    }
  }
}
.fixed-content{
  @extend .csMainBackground;
  padding-bottom:20% !important;
}
.csBordering{
    border-top: solid 3px $csBorder;
  border-bottom: solid 3px $csBorder;
}

.csListBoard{
  @extend .csFillBackground;
  @extend .csBordering;
  background-size: cover !important;
  background: csBackgroundSvg('calBoardBackground.svg');
  h3{
    color:white;
  }
  .no-padding-l{
    color:white;
  }
}
  .list-ios ion-item-sliding {
    background:$csBorder;
      margin-top: 5px;
  margin-bottom:10px;
  }

  .list-ios ion-item-options{
    @extend .csBordering;
  }

.item-ios,.item-wp, .item-md{
  h2 {
    margin: 0 0 2px;
    font-size: 1.6rem;
    font-weight: normal;
    color:white;
}
} 
.new-complaint ion-item ion-badge {
    float: right;
    color: white;
}