$csBoardColor:#3f3f3f;

ion-note{
  ion-icon {
    margin-right: 3px;
  }
  span{
    top:-1px;
    position: relative;
  }
  font-size: $font-sm;
  align-self: flex-start;
}

.complaint-list {
  background:$csBackgroundColor;
  ion-item-sliding {
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a {
      .item-inner{
        border-left-color:$inherit;
        .input-wrapper{
          border-left-color:$inherit;
          ion-label{
            border-left: 3px solid;
            border-left-color:$inherit;
            padding: 0px 5px 0px 10px;
          }
        }
      }
    }
    nl-edit-button,
    nl-comment-button,
    nl-close-button, nl-reopen-button, nl-satisfied-button {
      height: 100%;
    }
  }
}

.view-complaint {
  background:$csBackgroundColor;
  ion-card {
    ion-item {
      h2 {
        padding: 6px 0px 0px 20px;
        white-space: normal;
        line-height: 20px;
        pre {
          overflow: visible;
          white-space: pre-line;
          line-height: 20px;
          font-family: $inherit;
          margin: 0px;
        }
      }
    }
  }
}

.complaint-item{
  hr{
    height: 1px;
  }
  span{
    position: $absolute;
    top: 12px;
    left: 30px;
    font-size: medium;
    background: $background-color;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
  }
  padding-bottom: 6px;
}

  .list-ios ion-item-sliding, .list-md ion-item-sliding, .list-wp ion-item-sliding {
      margin-top: 5px;
      box-shadow: 0px 0px 1px #bbbbbb;
  }


.item-ios,.item-wp, .item-md{
  h2 {
    margin: 0 0 2px;
    font-size: 1.3rem;
    font-weight: normal;
    color:$csBoardColor;
  }
} 
.new-complaint ion-item ion-badge {
    float: right;
}

.csInput-title{
  width:95%;
}

.csFiftyLimit{
  float:right;
  margin-top:-22px;
  margin-right:5px;
}

div{
  .csSlideClose{
    background-color:$color0;
  }
}
