<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="complaint-list watermark">
  <ion-refresher (ionRefresh)="loadNewComplaints($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let appreciation of complaints">
      <p>title: {{appreciation.title}}</p>
      <p>description: {{appreciation.description}}</p>
      <p>studentName: {{appreciation.studentName}}</p>
      <p>appreciation for: {{appreciation.teacherName}}</p>
      <p>createdAt: {{appreciation.createdAt | date:'mediumDate'}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="EmptyComplaints">
      <h3> No Appreciations </h3>
    </ion-item>
  </ion-list>
</ion-content>
