<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="complaint-list csGrayBackground">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let appreciation of allData" class="csCardTopBorder">
    <ion-item>
      <div class="csParagraph"><b>{{appreciation.title}}</b></div>
      <div class="csParagraph">{{appreciation.description}}</div>
    </ion-item>
    <ion-item>
      <div item-left>
         <b><ion-icon name="body" color="primary"></ion-icon></b> {{appreciation.studentName}}
        </div>
        <div item-right>
          <b><ion-icon name="time" style="margin-top: 1px;" color="primary"></ion-icon></b> {{appreciation.createdAt | amDateFormat: 'LL'}}
        </div>
    </ion-item>
    <ion-item>
      <div item-right>
        From {{appreciation.employeeName}}
      </div>
    </ion-item>
  </ion-card>
  <ion-list class="no-comment" *ngIf="EmptyComplaints">
      <ion-icon name="thumbs-up"></ion-icon>
      <br>NO RECORD FOUND
  </ion-list>
</ion-content>
