<ion-header>
  <nl-navbar [title]="title">
  </nl-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <ion-card class="csCardTopBorder" [style.border-color]="onecirc.circularTypeColor">
    <ion-item>
      <div class="csParagraph"><b>{{onecirc.title}} </b></div>
      <div class="csParagraph">Dear Parents,<br>{{onecirc.description}}</div>
    </ion-item>
    <ion-item>
      <div item-left>
        <b class="csParagraph">{{ onecirc.employeeName }}</b><br>Principal
      </div>
      <div item-right>
        <b class="csParagraph">Created at</b><br> {{onecirc.createdAt | date:'mediumDate'}}
      </div>
    </ion-item>
    <ion-item *ngIf="onecirc.circularTypeName=='Class'">
      <b>Class:</b> | <span *ngFor="let a of onecirc.standards"><span> {{ a }} | </span> </span>
    </ion-item>
  </ion-card>
</ion-content>
