<ion-header>
    <nl-navbar [title]="title" >
        
    </nl-navbar>
</ion-header>


<ion-content padding class="csGrayBackground">
        <ion-card>
             <ion-card-header>
                <h1> {{onecirc.title}} </h1>
            </ion-card-header>

            <ion-card-content>
                 <h3> Dear Parents,</h3>
                 <br/>
                 <h3> {{ onecirc.description}} </h3>
                 <br/>
                <span> {{onecirc.circularTypeName }} </span>
                <span> - [</span>
                <span *ngFor="let a of onecirc.standards">
                    <span> {{ a }} ,</span>
                </span>
                <span>]</span>
                
                <br/>
                <h3>Date n Time : {{onecirc.date}} </h3>
                <br/>
                <h3>{{ onecirc.employeeName }}</h3>
                <h3> Principle </h3>
            </ion-card-content>
        </ion-card>
</ion-content>