<ion-header>
  <nl-navbar [title]="title">
  </nl-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <ion-refresher (ionRefresh)="doRefresh($circular)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!--<div *ngFor="let a of circulars">-->
      <ion-item *ngFor="let b of circulars" (click)="ranFunc(b.id)">
        <div class="csIndicator" [style.border-left-color]="b.circularTypeColor">
          <h2><b>{{b.title}}</b></h2>
          <h3>{{b.description}}</h3>
          <ion-note >
            <ion-row>
              <ion-col width-50 class="no-padding-l" style="color:#535353;"><ion-icon name="clock"></ion-icon><span>{{ b.start | amDateFormat: 'DD/MM/YYYY'}}</span>
              </ion-col>
              <ion-col width-50 class="no-padding-l" [style.color] = "b.circularTypeColor"><ion-icon name="at"></ion-icon><span>{{ b.circularTypeName}}</span>
              </ion-col>
            </ion-row>
          </ion-note>
        </div>
      </ion-item>
    <!--</div>-->
  </ion-list>
  <ion-list class="no-comment" *ngIf="circulars === null">
    <ion-icon name="happy"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>
</ion-content>
